extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Zhengwei Liu


        p.lead.text-light
          | Full Stack JavaScript Developer.


        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li HTML
          li Javascript
          li CSS
          li Express
          li Java
          li Python
        h6 Contact Info


        ul
          li 218-576-7856
          li uranusxiaoliu100@gmail.com


        a.button.expanded(href='https://www.linkedin.com/in/zhengwei-liu-7a3186aa/') LinkedIn
        a.button.expanded(href='https://github.com/liux3260') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  